
name: Terraform EKS Provision

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Terraform Init
        run: terraform init -upgrade
        working-directory: ./terraform
      - name: Show Terraform Providers
        run: terraform providers
        working-directory: ./terraform
      - name: Terraform Plan
        run: terraform plan -var="region=us-east-1" -var="cluster_name=green-road-eks"
        working-directory: ./terraform
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -var="region=us-east-1" -var="cluster_name=green-road-eks"
        working-directory: ./terraform